*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

:root {
    --primary-color: #2196f3;
    --primary-color-dark-1: #1976d2;
    --primary-text-color: #333;

    --success-color: #4caf50;
    --warning-color: #ffc107;
    --error-color: #f44336;

    --gray-0: #fafafa;
    --gray-1: #eee;
    --gray-2: #bbb;
    --gray-3: #888;
}

html {
    font-size: 62.5%;
}

body {
    min-height: 100vh;
    font-family: "Roboto Mono", monospace;
    font-size: 1.6rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--primary-text-color);
}

a,
input,
select,
textarea,
button {
    font: inherit;
    color: inherit;
}


/** Utility classes **/

.wrapper {
    width: 80rem;
    margin: 0 auto;
}
