*,
*::before,
*::after {
    box-sizing: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

body {
    min-height: 100vh;
    font-family: "Roboto Mono", monospace;
    font-size: 1.6rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #333;
}

a,
input,
button {
    font: inherit;
    color: inherit;
}


/** Utility classes **/

.wrapper {
    width: 80rem;
}
